## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/m143795/Desktop/Class/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Acarau,BR,-2.8856,-40.1200,82.92,71,27,15.46,light rain
1,1,Asau,RO,46.4333,26.4000,36.95,87,98,1.70,overcast clouds
2,2,Mezen,RU,65.8522,44.2400,9.75,89,100,12.82,overcast clouds
3,3,Nanortalik,GL,60.1432,-45.2371,11.75,62,49,20.42,scattered clouds
4,4,Bonnyville,CA,54.2668,-110.7350,14.18,89,100,9.84,overcast clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Acarau,BR,-2.8856,-40.1200,82.92,71,27,15.46,light rain
6,6,Kayes,ML,14.0000,-11.0000,87.84,7,0,8.14,clear sky
8,8,Vaini,TO,-21.2000,-175.2000,77.16,94,100,8.05,light rain
10,10,Inhambane,MZ,-23.8650,35.3833,78.78,83,40,6.91,scattered clouds
12,12,Constitucion,CL,-35.3333,-72.4167,71.51,55,7,17.07,clear sky
13,13,Waingapu,ID,-9.6567,120.2641,78.60,88,100,7.11,overcast clouds
18,18,Carnarvon,AU,-24.8667,113.6333,78.87,89,75,10.36,broken clouds
20,20,Ahuimanu,US,21.4447,-157.8378,78.46,79,40,1.01,scattered clouds
21,21,The Valley,AI,18.2170,-63.0578,80.46,83,75,13.80,broken clouds
22,22,Cape Town,ZA,-33.9258,18.4232,74.88,60,0,1.01,clear sky

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                296
City                   296
Country                294
Lat                    296
Lng                    296
Max Temp               296
Humidity               296
Cloudiness             296
Wind Speed             296
Current Description    296
dtype: int64

In [13]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [14]:
clean_df.count()

City_ID                294
City                   294
Country                294
Lat                    294
Lng                    294
Max Temp               294
Humidity               294
Cloudiness             294
Wind Speed             294
Current Description    294
dtype: int64

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Acarau,BR,82.92,light rain,-2.8856,-40.1200,
6,Kayes,ML,87.84,clear sky,14.0000,-11.0000,
8,Vaini,TO,77.16,light rain,-21.2000,-175.2000,
10,Inhambane,MZ,78.78,scattered clouds,-23.8650,35.3833,
12,Constitucion,CL,71.51,clear sky,-35.3333,-72.4167,
13,Waingapu,ID,78.60,overcast clouds,-9.6567,120.2641,
18,Carnarvon,AU,78.87,broken clouds,-24.8667,113.6333,
20,Ahuimanu,US,78.46,scattered clouds,21.4447,-157.8378,
21,The Valley,AI,80.46,broken clouds,18.2170,-63.0578,
22,Cape Town,ZA,74.88,clear sky,-33.9258,18.4232,

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
   
            
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "C:/Users/m143795/Desktop/Class/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F<dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))